.topnav-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: -55px;
  transition: top 0.5s; 
  height: 45px;
  background-image: linear-gradient(90deg, #e02929 0%, #4d47f1 27%, #0493a7 64%, #32880d 83%, #e02929 100%);
  overflow: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000c4;
  height: 93%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 80px;
  font-family: 'Raleway', sans-serif;
  transition: 0.5s; 
  font-weight: 600;
}

/* Change the color of links on hover */
.topnav a:hover, .topnav a:active, .topnav a:focus {
  color: #0276ff !important;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}