html {
  scroll-behavior: smooth;
}

$white-shade: #e6e6e6;
$blue-shade: #0f4e98e0;
$red-shade: #bd0608;
$purple-shade: #933E97;
$green-shade: #198c1bc7;
$golden-shade: #F7BC00;
$grey-shade: #bdbdbd26;

// Components
@import "components/floatingButton";
@import "components/navbar";

// Sections
@import "sections/intro";
@import "sections/skills";
@import "sections/projects";

// Shared styles

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  p {
    margin-top: -40px; // !
    text-align: center;
    font-size: 18px; // !
    font-family: 'Raleway', sans-serif;
    width: 600px; // !
    font-weight: 600;
  }
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Righteous', cursive;
  font-size: 40px;
}
